In [38]:
import pandas as pd
from deepdiff import DeepDiff

In [4]:
df1 = pd.read_excel('data1.xlsx')
df2 = pd.read_excel('data2.xlsx')

In [5]:
df1

   c1  c2
0   1   2

In [6]:
df2

   c1  c2
0   1   2

In [7]:
# 什么都没有表示两个对象没有差异
DeepDiff(df1, df2)

{}

In [28]:
df3 = pd.read_excel('data3.xlsx')
df3

   c1  c2
0   1   3
1   3   1

In [29]:
df4 = pd.read_excel('data4.xlsx')
df4

   c2  c1
0   1   3
1   3   1

In [30]:
# 可以看到data3和data4不仅行数据顺序不一致，甚至列顺序也是不一致的

In [37]:
DeepDiff(df1, df3)

{}

In [39]:
df1.to_dict(), df2.to_dict()

({'c1': {0: 1}, 'c2': {0: 2}}, {'c1': {0: 1}, 'c2': {0: 2}})

In [15]:
DeepDiff(df1.to_dict(), df2.to_dict())

{}

In [34]:
DeepDiff(df1.to_dict(), df3.to_dict())

{'dictionary_item_added': [root['c1'][1], root['c2'][1]],
 'values_changed': {"root['c2'][0]": {'new_value': 3, 'old_value': 2}}}

In [40]:
df3.to_dict('record'), df4.to_dict('record')

([{'c1': 1, 'c2': 3}, {'c1': 3, 'c2': 1}],
 [{'c2': 1, 'c1': 3}, {'c2': 3, 'c1': 1}])

In [36]:
DeepDiff(df3.to_dict('record'), df4.to_dict('record'), ignore_order=True)

{}